# Importing important libraries

In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

# Loading the iris dataset

In [15]:
iris = load_iris()

In [16]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [17]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

# Creating a new dataframe for the model

In [19]:
df = pd.DataFrame(iris.data , columns = iris.feature_names)

In [20]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

# Creating a new column for target in the dataframe

In [21]:
df['target'] = iris.target

In [23]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [24]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

# Applying the flower names according the target in the dataframe by creating a new column

In [27]:
df['flower_names'] = df.target.apply(lambda x : iris.target_names[x])

In [28]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower_names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

# New x and y dataframes for the model training

In [32]:
x = df.drop(['target','flower_names'],axis='columns')

In [34]:
y = df.target

# Splitting the dataframe

In [35]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2)

# Training the model

In [40]:
from sklearn.svm import SVC
model = SVC()

In [41]:
model.fit(x_train,y_train)

SVC()

In [43]:
model.score(x_test,y_test)

1.0