# Importing important libraries

In [15]:
import pandas as pd
import numpy as np
from sklearn import linear_model

# Importing the dataset using pandas

In [16]:
df = pd.read_csv(r"C:\Users\Lenovo\Downloads\hiring.csv")

In [17]:
df

   expirence  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000
8      eight                    8.0                           8      68000
9       five                    6.0                           8      60000
10      nine                    8.0                           8      61000
11    twelve                    NaN                           8      60500
12     eight                    8.0                           7      59000
13       two                    9.0                           9      69000
14       six                    7.0                          10      69000
15      four                    7.0                          10      65000
16      four                    9.0                           7      66000
17     three                    9.0                           4      63500
18       one                    8.0                          10      58000
19       six                    7.0                           7      60500
20       one                    8.0                          10      58000
21       ten                   10.0                           9      72000
22       ten                    7.0                           9      70000
23  thirteen                    NaN                           7      88000

In [18]:
print(df.columns)

Index(['expirence', 'test_score(out of 10)', 'interview_score(out of 10)',
       'salary($)'],
      dtype='object')

# Handling the missing values

In [19]:
import math
median_test_score = math.floor(df['test_score(out of 10)'].median())

In [20]:
median_test_score

8

In [21]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(median_test_score)

In [22]:
df

   expirence  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000
8      eight                    8.0                           8      68000
9       five                    6.0                           8      60000
10      nine                    8.0                           8      61000
11    twelve                    8.0                           8      60500
12     eight                    8.0                           7      59000
13       two                    9.0                           9      69000
14       six                    7.0                          10      69000
15      four                    7.0                          10      65000
16      four                    9.0                           7      66000
17     three                    9.0                           4      63500
18       one                    8.0                          10      58000
19       six                    7.0                           7      60500
20       one                    8.0                          10      58000
21       ten                   10.0                           9      72000
22       ten                    7.0                           9      70000
23  thirteen                    8.0                           7      88000

# Installing the word2number module

In [23]:
pip install word2number

Requirement already satisfied: word2number in c:\users\lenovo\anaconda3\lib\site-packages (1.1)
Note: you may need to restart the kernel to use updated packages.

# Importing word2number module to covert string number words to number(digits)

In [24]:
from word2number import w2n

# Convert 'expirence' column to strings

In [ ]:
df['expirence'] = df['expirence'].astype(str)

# Replace NaN values in 'expirence' column with a string (e.g., 'zero')

In [ ]:
handle_experience = "zero"
df['expirence'] = df['expirence'].fillna(handle_experience)

#  Converting words to numbers using word2number library

In [ ]:
df['expirence'] = df['expirence'].apply(w2n.word_to_num)

In [36]:
reg = linear_model.LinearRegression()
reg.fit(df[['expirence','test_score(out of 10)', 'interview_score(out of 10)']],df['salary($)'])

LinearRegression()

In [39]:
import math
math.floor(reg.predict([[12,9,10]]))

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

78256