# Import Important Libraries

In [17]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder 
from sklearn import tree
from sklearn.model_selection import train_test_split

# Importing dataset using pandas

In [ ]:
df = pd.read_csv(r"C:\Users\Lenovo\Downloads\titanic.csv")

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Deleting the unnecessary columns

In [24]:
inputs = df.drop(["Name","SibSp","Parch","Ticket","Cabin","Embarked"],axis="columns")

In [25]:
inputs.head(5)

   PassengerId  Survived  Pclass     Sex   Age     Fare
0            1         0       3    male  22.0   7.2500
1            2         1       1  female  38.0  71.2833
2            3         1       3  female  26.0   7.9250
3            4         1       1  female  35.0  53.1000
4            5         0       3    male  35.0   8.0500

# Creating a dataframe for the target of the model

In [26]:
target_t = df['Survived']

In [27]:
inputs = inputs.drop('Survived',axis='columns')

In [29]:
inputs.head(5)

   PassengerId  Pclass     Sex   Age     Fare
0            1       3    male  22.0   7.2500
1            2       1  female  38.0  71.2833
2            3       3  female  26.0   7.9250
3            4       1  female  35.0  53.1000
4            5       3    male  35.0   8.0500

# Converting the Lables of the columns to number
As we know ML doesn't work on lables they only work with numbers , so we have to convert them to numbers

In [30]:
le_sex = LabelEncoder()
le_age = LabelEncoder()
le_fare = LabelEncoder()
le_pclass = LabelEncoder()

# Creating new columns

In [31]:
inputs['pcalss_n'] = le_pclass.fit_transform(input_n['Pclass'])
inputs['fare_n'] = le_pclass.fit_transform(input_n['Fare'])
inputs['age_n'] = le_pclass.fit_transform(input_n['Age'])
inputs['sex_n'] = le_pclass.fit_transform(input_n['Sex'])

In [32]:
inputs.head()

   PassengerId  Pclass     Sex   Age     Fare  pcalss_n  fare_n  age_n  sex_n
0            1       3    male  22.0   7.2500         2      18     28      1
1            2       1  female  38.0  71.2833         0     207     51      0
2            3       3  female  26.0   7.9250         2      41     34      0
3            4       1  female  35.0  53.1000         0     189     47      0
4            5       3    male  35.0   8.0500         2      43     47      1

In [34]:
input_n = inputs.drop(['PassengerId','Pclass','Sex','Age','Fare'],axis='columns')

In [35]:
input_n

     pcalss_n  fare_n  age_n  sex_n
0           2      18     28      1
1           0     207     51      0
2           2      41     34      0
3           0     189     47      0
4           2      43     47      1
..        ...     ...    ...    ...
886         1      85     35      1
887         0     153     24      0
888         2     131     88      0
889         0     153     34      1
890         2      30     42      1

[891 rows x 4 columns]

# Count the number of unique values in the fare_n column

In [138]:
input_n['fare_n'].nunique()

248

In [134]:
X_train, X_test, Y_train, Y_test = train_test_split(input_n, target_t, test_size = 0.26)

# Training the model

In [135]:
model = tree.DecisionTreeClassifier()
model.fit(X_train,Y_train)

DecisionTreeClassifier()

In [136]:
model.score(X_test,Y_test)

0.8017241379310345